body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
}

/* GENERAL STYLES */
.hidden {
    display: none !important;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}

/* FLASH STYLES */
/* These will be replaced with snackbars/toasts at some point */
.message.error {
    color: blue;
}
.message.error {
    color: red;
}
.message.success {
    color: green;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
h5 {
    font-size: 1.1rem;
    font-weight: 500;
}
h6 {
    font-size: 1rem;
    font-weight: 500;
}


/* FORMS */
form > div, form > div.row > div {
    margin-bottom: 30px;
}
form > div:last-child, form > div.row {
    margin-bottom: 0;
}


/* BUTTONS */
/* Make sure text is centralised in buttons with short labels */
a[type="button"] {  
    text-align: center;
}