body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
}

/* GENERAL STYLES */
.hidden {
    display: none !important;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.full-width {
    width: 100% !important;
}

/* FIXES */
/*Prevent IE from showing it's clear button in text fields, which shows up as an ugly, big black X*/
input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }

/* GRID STYLES */
@media (min-width: 64em) {
    .col-md-lg-hidden {
        display: none;
    }
}
@media (max-width: 63.99em) {
    .col-xs-sm-hidden {
        display: none;
    }
}

/* ALLOY EDITOR */
.ae-toolbar, .ae-toolbar-styles, .ae-toolbar-add {
    z-index: 2000;
}
.alloy-container label {
    line-height: 22px; 
    z-index: 1; 
    /*color: rgba(0, 0, 0, 0.298039); */
    color: rgba(0, 0, 0, 0.498039); 
    -webkit-user-select: none;
}
.alloy-container.focused label {
    /*color: rgb(0, 150, 136);  /* TEAL */
    color: rgb(63, 81, 181);  /* INDIGO */
}
div.ae-editable {
    border: 1px solid rgb(224, 224, 224);
}
div.ae-editable > p:first-child {
    margin-top: 0;
}
div.ae-editable > p:last-child {
    margin-bottom: 0;
}
div.ae-editable:focus {
    outline: none;
}

/* FLASH STYLES */
/* These will be replaced with snackbars/toasts at some point */
.message.error {
    color: blue;
}
.message.error {
    color: red;
}
.message.success {
    color: green;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
    font-weight: 500;
}
h5 {
    font-size: 1.1em;
    font-weight: 500;
}
h6 {
    font-size: 1em;
    font-weight: 500;
}

/* PAGE LAYOUT */
.page-card {
    margin-bottom: 2rem;
}

/* DEFINITION LISTS */
.page-card dl {
    margin: 0;
}
dt {
    font-weight: 500;
    margin-bottom: 5px;
}
dd {
    margin: 0 0 20px;
}
div:last-child > dd {
    margin-bottom: 0;
}

/* FORMS */
form {
    margin: 0;
}

form div.section {
    margin-bottom: 20px;
}
.sublabel {
    font-size: 85%;
    opacity: 0.8;
}
.standard-width-input {
    width: 400px !important;
}
textarea {
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.rc-slider-handle:active {
    box-shadow: 0 0 5px rgb(63, 81, 181);
}

/* DROPZONE */
.dropzone {
    border: 1px solid rgb(224, 224, 224);
}

/* BUTTONS */
/* Make sure text is centralised in buttons with short labels */
a[type="button"] {  
    text-align: center;
}

/* ROLES PAGE */
tr.self td:first-child div {
    display: none;  /*Hide the checkbox for the current user's row*/
}

/* OPTIONS */
div.paragraph {
    margin: 1em 0; 
}