body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
}

/* GENERAL STYLES */
.hidden {
    display: none !important;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}

/* ALLOY EDITOR */
.ae-toolbar, .ae-toolbar-styles, .ae-toolbar-add {
    z-index: 2000;
}
.alloy-label {
    line-height: 22px; 
    z-index: 1; 
    color: rgba(0, 0, 0, 0.298039); 
    -webkit-user-select: none;
}
.alloy-container  > div {
    border: 1px solid rgb(224, 224, 224);
}
.alloy-container > div > p:first-child {
    margin-top: 0;
}
.alloy-container > div > p:last-child {
    margin-bottom: 0;
}
.alloy-container > div:focus {
    outline: none;
}

/* FLASH STYLES */
/* These will be replaced with snackbars/toasts at some point */
.message.error {
    color: blue;
}
.message.error {
    color: red;
}
.message.success {
    color: green;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
h5 {
    font-size: 1.1rem;
    font-weight: 500;
}
h6 {
    font-size: 1rem;
    font-weight: 500;
}

/* PAGE LAYOUT */
.page-card {
    margin-bottom: 2rem;
}


/* FORMS */
form div.section {
    margin-bottom: 20px;
}
.sublabel {
    font-size: 85%;
    opacity: 0.8;
}
textarea {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/* DROPZONE */
.dropzone {
    border: 1px solid rgb(224, 224, 224);
}

/* BUTTONS */
/* Make sure text is centralised in buttons with short labels */
a[type="button"] {  
    text-align: center;
}

/* ROLES PAGE */
tr.self td:first-child div {
    display: none;  /*Hide the checkbox for the current user's row*/
}